body {
  font-family: sans-serif;
  background-color: #ffffff;
}

.footer {
  background-color: #dddddd;
  font-family: monospace;
  font-size: 1em;
  padding: 8px;
}

.header {
  background-color: #000000;
  color: #ffffff;
  font-family: monospace;
  font-size: 1.75em;
  font-weight: bold;
  padding: 8px;
}

.header a {
  color: #990033;
}