<div class="header"><a href="/">Jeff's List</a> &gt; Category Administration</div>
<ul>
{% for category in category_query %}
    <li><a href="/category/view?k={{ category.key }}">{{ category.name }}</a> - 
    (<a href="/category/edit?k={{ category.key }}">Edit</a>) (<a href="/category/delete?k={{ category.key }}">Delete</a>)</li>
{% endfor %}
    <br/>
    <li><a href="/category/edit?k=new">Create New Category</a></li>
</ul>

