<div class="header"><a href="/">Jeff's List</a> &gt; <a href="/category/admin">Category Administration</a></div>
<form method="post" action="/category/edit">
    <input type="hidden" name="k" value="{{ category_key }}"/>
    <input type="text" value="{{ name }}" name="name" /><br/>
    <input type="submit" value="Submit"/>
</form>

