<div class="header">infactr</div>

Nodes related to {{ val }} <br><br>

{% for row in grid %}
	{% for node in row %}
		<a href="/node/view?k={{ node.key }}">{{ node.val }}</a>
	{% endfor %}
	<br>
{% endfor %} 
