<div class="header">infactr</div>

<form method="post" action="/node/view?k={{ node.key }}">
{% for parent in lineage %}<a href="/node/view?k={{ parent.key }}">{{ parent.val }}</a> {% endfor %}{{ node.val }}

    <input type="text" name="val" />
    <input type="submit" name="say" value="!"/>
    <input type="submit" name="ask" value="?"/>
    <input type="submit" name="cut" value="X"/>
</form>
<ul>
{% for row in children %}

    <li>
        {% for entry in row %}<a href="/node/view?k={{ entry.key }}">{{ entry.val }}</a> {% endfor %}
    </li>
{% endfor %}

</ul>
